nav {
    background-color: #282c28;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;  /* Уменьшено с 14px до 10px */
    text-decoration: none;
}

nav li a:hover {
    background-color: #414040;
}