{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center my-4">Прогноз погоды</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <select class="form-control" name="country" id="country">
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-outline-success btn-block" type="submit">Выбрать</button>
            </form>
            <div class="card text-center my-4 p-3">
                <p class="h5">Не нашли страну в списке? Вы можете её добавить самостоятельно!</p>
                <a href="{% url 'add_country' %}" class="btn btn-primary btn-sm">Добавить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}